@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter&family=Poppins&family=Roboto:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

.navbar {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50px;
  background-color: #3c3a39;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  margin: 12px 24px;
  font-family: 'Roboto', sans-serif;
}

.navbar .hamburger img {
  margin: 12px 24px;
}

body {
  background-color: #1c1a19;
}

.herosection {
  height: 90vh;
  width: 100%;
  background-image: url(../images/background-image\ design.png);
  background-repeat: no-repeat;
  background-position: 270px 230px;
}

.herosection h1 {
  font-size: 56px;
  font-weight: 400;
  max-width: 327px;
  height: max-content;
  margin: 120px 24px 12px 24px;
  color: #ff6b00;
  font-family: 'Crete Round', serif;
}

.herosection h2 {
  font-size: 24px;
  font-weight: 700;
  max-width: 327px;
  font-family: 'Roboto', sans-serif;
  margin: 24px;
  color: #fff5e1;
}

.herosection p {
  font-size: 16px;
  font-weight: 400;
  max-width: 327px;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  margin: 24px;
}

.social-icon ul {
  display: flex;
  flex-direction: row;
  margin: 24px 0;
}

ul li {
  text-align: center;
  margin: 24px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #fff;
}

.social-icon ul li {
  margin: 10px;
  padding: 10px;
}

/* work section */
.works-section {
  display: grid;
  grid-template-columns: 327px;
  grid-template-rows: auto auto auto auto auto;
  background-color: #fff;
  justify-content: center;
}

.recentwork {
  border-bottom: 1px solid #212121;
  margin: 100px 24px;
  max-width: 327px;
}

.recentwork h2 {
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  font-family: 'Crete Round', serif;
  margin-bottom: 50px;
}

.workone h2 {
  font-size: 32px;
  font-weight: 400;
  font-family: 'Crete Round', serif;
  margin: 10px 10px 10px 0;
}

.workone p {
  font-size: 16px;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  text-align: justify;
}

.workone .stack {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

button a {
  color: #fff;
}

.workone a {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 17px;
  text-align: center;
  width: 124px;
  height: 48px;
  color: #fff;
  background-color: #ff6b00;
  padding: 12px;
  border: none;
  margin-top: 5px;
  cursor: pointer;
}

.worktwo-container {
  display: grid;
  grid-template-columns: 327px;
  grid-template-rows: auto auto auto auto auto auto;
  margin-bottom: 30px;
}

.worktwo h2 {
  padding: 84px 16px 16px;
  font-family: 'Crete Round', sans-serif;
  font-weight: 400;
  font-size: 32px;
  color: #fff;
}

.worktwo p {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  margin: 16px;
}

.worktwo .stacktwo {
  display: flex;
}

button {
  width: 327px;
  height: 48px;
  background: #ff6b00;
  text-align: center;
  padding: 12px;
  margin: -12px 12px 12px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  border: none;
}

.aboutme {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.aboutme h1 {
  margin: 120px 24px 0 24px;
  font-family: 'Crete Round', sans-serif;
  font-weight: 400;
  font-size: 72px;
  color: #ff6b00;
}

.aboutme p {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  max-width: 327px;
  margin: 24px;
  color: #f4f5f7;
}

.aboutme a {
  font-family: 'Inter', sans-serif;
  font-size: 17px;
  background-color: #ff6b00;
  width: 161px;
  height: 48px;
  text-align: center;
  padding: 12px;
  font-weight: 700;
  margin: 24px;
  color: #fff;
}

.picture-background {
  display: flex;
  justify-content: flex-end;
  max-width: 327px;
}

.end-line {
  max-width: 280px;
  margin: 12px 24px;
  border-bottom: 1px solid #fff;
}

.languages {
  max-width: 327px;
}

.languages div {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  margin-top: 100px;
}

.form-background {
  background-color: #fff;
  max-width: 327px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.formsection {
  max-width: 327px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formsection h3 {
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 32px;
  margin: 100px 24px 24px;
}

.formsection input {
  width: 280px;
  margin: 12px;
  border: none;
  border-bottom: 1px solid #dbd8d7;
  padding: 10px;
}

.formsection textarea {
  max-width: 327px;
  height: 114px;
  margin: 24px;
  background-color: #dbd8d7;
  padding: 12px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 15px;
}

.formsection .button {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 17px;
  width: 131px;
  height: 48px;
  margin: 24px 24px 100px 24px;
  background-color: #ff6b00;
  text-align: center;
  padding: 12px;
}

.formsection .button a {
  color: #fff;
}

.form-background .icons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  padding: 20px;
  margin-top: 1px;
}

.languages div h3 {
  font-weight: 700;
  font-size: 32px;
  margin-top: -10px;
  color: #fff;
  font-family: 'Inter', sans-serif;
}

.workone .stack h3 {
  font-weight: 500;
  font-size: 15px;
  font-family: 'Inter', sans-serif;
  padding: 10px;
  margin: 10px 10px 10px 0;
  border: 1px solid #8993a4;
}

.worktwo .stacktwo h3 {
  font-weight: 500;
  font-size: 15px;
  font-family: 'Inter', sans-serif;
  padding: 10px 12px;
  margin: 12px;
  background: rgba(255, 255, 255, 0.24);
  color: #fff;
}

.workone {
  display: flex;
  flex-direction: column;
  max-width: 327px;
  margin: 24px;
  justify-content: center;
}

.worktwo {
  height: 386px;
  width: 327px;
  background-image: url(../images/Img\ Placeholder.png);
  margin: 12px;
}
